.pagination {
  display: flex;
  justify-content: center;
  margin: 5rem;
  padding-bottom: 1rem;
 
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.pagination button.active {
  background-color: red;
  color: #fff;
}
