.containNoDark {
  background-color: white;
  height: 100%;
}
.containDark {
  background-color: black;
  height: 100%;
  
}

.cardContain {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-block: 3rem;
}

.advice {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.advice p {
  background-color: red;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}
