.containNoDark {
  background-color: white;
  height: 100%;
}
.containDark {
  background-color: black;
  height: 100%;
}

.cardContain {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-block: 3rem;
}

.loading {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  height: 100vh;
}
.loading img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.advice {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.advice p {
  background-color: red;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

@media only screen and (max-width: 770px) {
  .loading {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
    padding-inline: 1rem;
  }
  .loading img {
    width: 100%;
    height: 50%;
  }
}
