.contain {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  width: 100%;
}

.searchbar {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 1rem;
}

.searchbar input {
  width: 100%;
  padding: 1rem;
  border: none;
}

.logo {
  padding-inline: 1rem;
}
.logo img {
  width: 100px;
  padding-right: 1rem;
  border-right: 1px solid gainsboro;
}

.favourite svg {
  margin-right: 3rem;
  border-right: 1px solid gainsboro;
}

.favourite :hover {
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
 
  .contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .favourite svg {
    margin-right: 1rem;
    border-right: 1px solid gainsboro;
  }


}
